.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
	transition: visibility 0.3s ease, opacity 0.3s ease;
	opacity: 0;
	visibility: hidden;
}