.modal__close {
    background-image: url(../../../images/modal__close.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -37px;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.modal__close:hover {
    opacity: .6;
}