.modal__close {
    background-image: url(../../../images/modal__close.svg);
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -37px;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.5s ease;
    border-radius: 2px;
}

.modal__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .modal__close {
        width: 20px;
        height: 20px;
        top: -40px;
        right: 5px;
    }
    
}