.modal__save {
    margin: 48px 0 37px;
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    transition: opacity .5s ease;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}

.modal__save:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .modal__save {
        margin-top: 45px;
        width: 238px;
        height: 46px;
    }
}