.photo__icon {
    background-image: url(../../../images/photo__icon.svg);
    width: 25px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: opacity 1s ease;
    background-color: transparent;
}

.photo__icon:hover {
    opacity: .6;
}