.modal__input {
    width: 350px;
    margin: 0;
    padding: 5px 4px 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.modal__input:focus {
    outline-color: rgb(143, 143, 143);
}

.modal__input:first-of-type {
    margin-top: 54px;
}

.modal__input:last-of-type {
    margin-top: 34px;
}

.modal__input.modal__input_type_error {
    outline: 0;
    border-color: #FF0000;
}

@media screen and (max-width: 767px) {
    .modal__input {
        width: 230px;
    }

    .modal__input:first-of-type {
        margin-top: 50px;
    }

    .modal__input:last-of-type {
        margin-top: 30px;
    }

}