.modal__content {
    margin: 195px auto 0;
    max-width: 430px;
    min-height: 330px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .modal__content {
        max-width: 282px;
        min-height: 322px;
        
    }
    
}